<div class="panel panel-default">
  <!-- <div class="panel-heading">{{ element.name }}</div> -->
  <!-- usando Local Reference com #heading -->
  <div class="panel-heading" #heading>{{ name }}</div>
  <div class="panel-body">
    <!-- 
      para usar template html entre abre de fecha component (<app-server-element>entra aqui</app-server-element>),
      devemos autorizar o angular a nos deixar inserir por meio da diretiva <ng-content></ng-content> -->
      <ng-content></ng-content>
  </div>
</div>