<div class="container">
  <app-cockpit (eventoDeServerNameCriado)="onServerCreated($event)" (eventoDeServerBlueprintCriado)="onBlueprintCreated($event)"></app-cockpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="onBtnClickChanges()" [disabled] = "serverElements.length <= 0">Changes the first element</button>
      <button class="btn btn-danger" (click)="onBtnClickDestroyFirstElement()" [disabled] = "serverElements.length <= 0">Destroy the first element</button>
      <app-server-element *ngFor="let element of serverElements" [srvElement]="element" [onlyServerName]="element.name">

        <!--
          para usar qualquer elemento dentro do proprio component,
          devemos usar a diretiva ng-content la no template html onde o componente foi criado
        -->

        <p>
          <strong *ngIf="element.type === 'server'" style="color: red">{{ element.content }}</strong>
          <em *ngIf="element.type === 'blueprint'">{{ element.content }}</em>
        </p>

      </app-server-element>
    </div>
  </div>
</div>
