<div class="row">
  <div class="col-xs-12">
    <p>Add new Servers or blueprints!</p>
    <label>Server Name</label>
    <!-- two-way-binding -->
    <!-- <input type="text" class="form-control" [(ngModel)]="newServerName"> -->

    <!-- 
      Local reference, so pode ser usado nos templates, pois ele recuperar o elemento HTML,
      e podemos passa-lo para o evento do click para recupara-lo no servico
    -->
    <input type="text" class="form-control" #serverName>
    <label>Server Content</label>
    
    <!-- two-way-binding -->
    <!-- <input type="text" class="form-control" [(ngModel)]="newServerContent"> -->

    <!--
      usando Local Reference com o decorator @ViewChild() no typescript service,
      tbm conseguimos alterar o DOM mas nao e recomendado
    -->
    <input type="text" class="form-control" #serverContentInput>
    <br>
    <button
      class="btn btn-primary"
      (click)="onAddServer(serverName)">Add Server</button>
    <button
      class="btn btn-primary"
      (click)="onAddBlueprint(serverName)">Add Server Blueprint</button>
  </div>
</div>