<label>Name:</label>
<!-- passando dados para o servico via event data bind -->
<!-- event bind -> (nomeEventoDoAtributo)="metodoOuFuncao()"; $event passado via parametro -->
<input 
    type="text" 
    class="form-control"
    (input)="onUpdateServerName($event)"
>

<!-- usando two-way-databind -> usa-se a diretiva [(ngModel)]="nomeDaVariavel" -> para funcionar tem que importar o FormsModule no array do AppModule-->
<input 
    type="text" 
    class="form-control"
    [(ngModel)]="serverName"
>
<p>{{ serverName }}</p>

<hr>

<!-- property databinding - colocar a propriedade html entre conchetes e o seu valor é uma variavel do servico -->
<!-- propriedade de html usa-se [] -> chama-se property bind; eventos de componentes html usa-se () -> chama-se event bind -->
<button 
    class="btn btn-primary" 
    [disabled]="!allowNewServer"
    (click)="onServerCreate()">
    New Server
</button>
<p>{{ serverCreationStatus }}</p>

<p>{{ allowNewServer }}</p> <!-- string interpolatin -->
<p [innerText]="allowNewServer"></p> <!-- property databinding -->
<app-server></app-server>
<app-server></app-server>